includes:
    - ./vendor/larastan/larastan/extension.neon

parameters:
    level: 5
    paths:
        - src
    ignoreErrors:
        - '#Called .env. outside of the config directory#'
        - '#Calling the helper function .with.#'
        - '#Call to an undefined static method#'
        - '#is already a list, call has no effect#'
